<p>Group Topic: <%= @group.topic %></p>
<p>Description: <%= @group.description %></p>

<p>Resources</p>
<ul>
<% @group.resources.each do |resource| %>
  <li><%= resource.title %>:
  <%= link_to "#{resource.link}", resource.link %></li>
  <ul> 
    <% resource.favorites.each do |favorite| %>
      <%= favorite.user.gmail_name %> likes this
    <% end %>
  </ui>
  <%= button_to "Favorite", favorite_path(:resource => resource) %></li>
<% end %>
</ul>

<p>Group Members</p>
<ul>
  <% @group.students.each do |student| %>
    <li><%= student.user.gmail_name %></li>
  <% end %>
</ul>

<%= button_to "delete", @group, method: :delete %>

<h3>Add New Resource</h3>

<%= render 'resources/form', group_id: @group.id %>