<h3>Group Topic: <%= @group.topic %></h3>
<p>Description: <%= @group.description %></p>

<h4>Resources</h4>
<ul>
  <% @group.resources.each do |resource| %>
    <li><%= link_to resource.title, resource %>:
    <%= link_to "#{resource.link}", resource.link %></li>
    <ul> 
      <%= resource.likes_message(current_user) %>
    </ul>
      <%= render partial: "/resources/#{FavoriteToggle.new(resource, current_user).already_favorited?}", locals: {resource: resource} %>
  <% end %>
</ul>

<h4>Group Members</h4>
<ul>
  <% @group.users.each do |user| %>
    <li><%= user.gmail_name %></li>
  <% end %>
</ul>

<h3>Add New Resource</h3>

<%= render 'resources/form', group_id: @group.id %>