<h3>Group Topic: <%= @group.topic %></h3>
<p>Description: <%= @group.description %></p>

<h4>Get Started</h4>
<%= form_tag("/query", method: "get", remote: true, id: "article-search") do %>
  <%= text_field_tag(:q) %>
  <%= hidden_field_tag(:group_id, @group.id) %>
  <%= submit_tag("Search", class: "btn btn-primary") %>
<% end %>

<%= link_to "Clear", "#", id:"clear-search-results-button", class: "btn btn-primary" %>


<h4>Some Kind of Graph/Visualization</h4>

<h4>Results</h4>
<div id="article-results">
  <!-- list of articles formatted w/ save option, which adds resource to group and user-->
</div>

<h4>Resources</h4>
<ul class="resources-container">
  <% @group.resources.each do |resource| %>
    <%= render 'resources/resource', {resource: resource, current_user: current_user} %>
  <% end %>
</ul>

<h4>Group Members</h4>
<ul>
  <% @group.users.each do |user| %>
    <li><%= user.gmail_name %></li>
  <% end %>
</ul>

<h3>Add New Resource</h3>

<%= render 'resources/form', group_id: @group.id %>

<h3>Add a Google Doc</h3>
<%= form_for @google_doc, html: {class: "form-inline"} do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
    <%= f.select :doc_type, options_for_select(["Document", "Spreadsheet"])%>
    <%= f.hidden_field :group_id, value: @group.id %>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>


<h3>Our Docs</h3>
<% @group.google_docs.each do |doc| %>
  <li> <%= link_to doc.title, doc.url %></li>
<% end %>
