<h3>Group Topic: <%= @group.topic %></h3>
<p>Description: <%= @group.description %></p>
<p><%= render partial: JoinGroupOptions.new(@group, current_user).member?, locals: {group: @group} %></p>
<div class="row">
  <div class="col-md-3">
    <h4>Get Started</h4>
    <p>Search the New York Times for relevant articles here.</p>
    <%= form_tag("/query", method: "get", remote: true, id: "article-search") do %>
      <%= text_field_tag(:q) %>
      <%= hidden_field_tag(:group_id, @group.id) %>
      <%= submit_tag("Search", class: "btn btn-primary") %>
    <% end %>
    <%= link_to "Clear", "#", id:"clear-search-results-button", class: "btn btn-primary" %>
    <h4>Results</h4>
    <div id="article-results">
      <!-- list of articles formatted w/ save option, which adds resource to group and user-->
    </div>
  </div>
  <div class="col-md-6">
    <!-- begin panel -->
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#members" aria-controls="members" role="tab" data-toggle="tab">Members</a></li>
        <li role="presentation"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab">Resources</a></li>
        <li role="presentation"><a href="#videos" aria-controls="videos" role="tab" data-toggle="tab">Videos</a></li>
        <li role="presentation"><a href="#documents" aria-controls="documents" role="tab" data-toggle="tab">Documents</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="members">
          <h4>Group Members</h4>
          <ul>
            <% @group.users.each do |user| %>
              <li><%= user.gmail_name %></li>
            <% end %>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="resources">
          <h4>Resources</h4>
          <ul class="resources-container">
            <% @group.resources.each do |resource| %>
              <%= render 'resources/resource', {resource: resource, current_user: current_user} %>
            <% end %>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="videos">
          <h4>Videos</h4>
          <ul id='video-list'>
            <% @group.videos.each do |video| %>
            <li><%= link_to "#{video.title}", "#{video.link}" %></li>
            <% end %>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="documents">
          <h3>Our Docs</h3>
         <table class='table' id='google_doc_table'>
          <thead>
            <tr>
              <th>Document Name</th>
            </tr>
          </thead>
          <tbody>
            <% @group.google_docs.each do |google_doc| %>
              <%= render partial: 'google_docs/table_row', locals: {google_doc: google_doc} %>
            <% end %>
          </tbody>
        </table>
            </div>
        </div>
    </div><!-- end panel -->
  </div>
  <div class="col-md-3">
    <ul class="list-group" id="display-box-options">
      <li class="list-group-item">
        <%= link_to 'New Resource', '#new_resource_modal', 'data-toggle' => 'modal' %>
      </li>
      <li class="list-group-item">
        <%= link_to 'New Video', '#new_video_modal', 'data-toggle' => 'modal' %>
      </li>
      <li class="list-group-item">
        <%= link_to 'New Google Doc', '#new_google_doc_modal', 'data-toggle' => 'modal' %>
      </li>
    </ul>
  </div>  
</div>

<div class="modal fade" id="new_google_doc_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create new Google Doc</h4>
      </div>
      <div class="modal-body">
        <%# Render the new person form (passing modal => true to enable remote => true) %>
        <%= render 'google_docs/form', group_id: @group.id, modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="new_video_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Link to YouTube Video</h4>
      </div>
      <div class="modal-body">
        <%# Render the new person form (passing modal => true to enable remote => true) %>
        <%= render 'videos/form', group_id: @group.id, modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="new_resource_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Link to New Resource</h4>
      </div>
      <div class="modal-body">
        <%# Render the new person form (passing modal => true to enable remote => true) %>
        <%= render 'resources/form', group_id: @group.id, modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<p></p>