<h3>Group Topic: <%= @group.topic %></h3>
<p>Description: <%= @group.description %></p>
<p><%= render partial: JoinGroupOptions.new(@group, current_user).member?, locals: {group: @group} %></p>

<h4>Get Started</h4>
<%= form_tag("/query", method: "get", remote: true, id: "article-search") do %>
  <%= text_field_tag(:q) %>
  <%= hidden_field_tag(:group_id, @group.id) %>
  <%= submit_tag("Search", class: "btn btn-primary") %>
<% end %>

<%= link_to "Clear", "#", id:"clear-search-results-button", class: "btn btn-primary" %>


<!-- <h4>Some Kind of Graph/Visualization</h4> -->

<h4>Results</h4>
<div id="article-results">
  <!-- list of articles formatted w/ save option, which adds resource to group and user-->
</div>

<h4>Resources</h4>
<ul class="resources-container">
  <% @group.resources.each do |resource| %>
    <%= render 'resources/resource', {resource: resource, current_user: current_user} %>
  <% end %>
</ul>

<h4>Videos</h4>
<ul>
  <% @group.videos.each do |video| %>
  <li><%= link_to "#{video.title}", "#{video.link}" %></li>
  <% end %>
</ul>

<h4>Group Members</h4>
<ul>
  <% @group.users.each do |user| %>
    <li><%= user.gmail_name %></li>
  <% end %>
</ul>

<h3>Add New Resource</h3>

<%= render 'resources/form', group_id: @group.id %>

<h3>Add a Google Doc</h3>

<%= link_to 'New Google Doc', '#new_google_doc_modal', 'data-toggle' => 'modal' %>

<div class="modal fade" id="new_google_doc_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create new Google Doc</h4>
      </div>
      <div class="modal-body">
        <%# Render the new person form (passing modal => true to enable remote => true) %>
        <%= render 'google_docs/form', group_id: @group.id, modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<h3>Our Docs</h3>
<table class='table' id='google_doc_table'>
  <thead>
    <tr>
      <th>Document Name</th>
    </tr>
  </thead>

  <tbody>
    <% @group.google_docs.each do |google_doc| %>
      <%= render partial: 'google_docs/table_row', locals: {google_doc: google_doc} %>
    <% end %>
  </tbody>
</table>

<br>

<h3>Add a YouTube Video</h3>

<%= render 'videos/form', group_id: @group.id %>

<p></p>