<%= form_for @video, html: {class: "form-inline"} do |f| %>
  <%= render 'shared/youtube_errors', object: @video %>

  <div class="form-group">
    <%= f.label :link %>
    <%= f.text_field :link, class: 'form-control', required: true %>
    <!-- <span class="help-block">A link to the video on YouTube.</span> -->
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
