<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for @video, remote: remote, html: {class: "form-inline", role: :form, 'data-model' => 'youtube_video', id: 'new_video_form'} do |f| %>
  <%= render 'shared/youtube_errors', object: @video %>

  <div class="form-group" id="new_video_body">
    <%= f.label :link %>
    <%= f.text_field :link, class: 'form-control', required: true %>
    <%= f.hidden_field :group_id, value: group_id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
  </div>
