<div class="row">
  <div class="col-md-6 nopadding">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag("students1.jpg", class: "img-responsive center-block") %>
        </div>
        <div class="item">
          <%= image_tag("students2.jpg", class: "img-responsive center-block") %>
        </div>
        <div class="item">
          <%= image_tag("students3.jpg", class: "img-responsive center-block") %>
        </div>        
        
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
    <h1 class="logo text-left"><i class="fa fa-bolt salmon-text"></i>Sourcery</h1>
      <h3 class="text-left">Collect. Communicate. Collaborate.</h3>
      <p>Share research in real time to enrich your next group project.<br><i class="fa fa-bolt"></i>Sourcery's platform combines powerful web technologies to simplify the research project workflow. </p>
  </div>
  <div class="col-md-1">
  </div>
  </div>
</div>

<div class="row salmon">
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
   <%= image_tag("resource_show.png", class: "img-responsive") %>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-5">
   <h2>Organize Your Research Projects</h2>
    <p class="white"><i class="fa fa-bolt"></i>Sourcery lets you share resources with collaborators online and off. Export your conversations to PDF for in-class reference or simply discuss relevant resources on the web.</p>
    <p class="white">Get started today!</p>
  </div>
  <div class="col-md-1">
  </div>
</div>

<div class="row gray">
  <div class="col-md-1">
  </div>
  <div class="col-md-6">
    <h2>Get Inspired</h2>
    <p><i class="fa fa-bolt"></i>Sourcery queries traditional channels such as the <em>New York Times</em> as well as modern media outlets such as YouTube to jumpstart the research process based on your topic.</p>
  </div>
  <div class="col-md-4">
    <%= image_tag("sourcery-query-api.png", class: "img-responsive") %>
   
  </div>
  <div class="col-md-1">
  </div>
</div>

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-2">
     <h3>About the Team</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-2">
    <%= image_tag("meredithedwards.jpg", size: "140", class: "img-circle") %>
    <h4>Meredith Edwards</h4>
    <p>I’ve spent the last two years teaching middle school English in Sunset Park, Brooklyn. I came to coding after falling in love with programming by way of Stanford’s free online CS 101 (“Computer Science for Dummies”) course.</p>
  </div>
  <div class="col-md-2">
    <%= image_tag("madelineford.jpg", size: "140", class: "img-circle") %>
    <h4>Madeline Ford</h4>
    <p>I studied Human Evolutionary Biology in college, and after a year in the field of market research am excited to begin the Flatiron journey! Born and raised in NYC, I love a good bagel, as well as traveling and playing with my French Bulldog.</p>
  </div>
  <div class="col-md-2">
    <%= image_tag("tracylum.jpg", size: "140", class: "img-circle") %>
    <h4>Tracy Lum</h4>
    <p>I’ve dabbled in basic web design since the early 2000s when I got my first AOL account, but it wasn’t until recently that I began taking online coding courses through edX, CodeAcademy, and Skillcrush and decided to turn my hobby into my profession by attending the Flatiron School. </p>
  </div>
  <div class="col-md-2" id="jim-bio-js">
    <%= image_tag("jimrectenwald.jpg", size: "140", class: "img-circle", id: "jim-pic-js") %>
    <h4>Jim Rectenwald</h4>
    <p>Jim was born in Pittsburgh, where he lived for 18 years. He loves watching Pittsburgh sports and eating classic Polish food. He studied Geology at Cornell, where he was on the rowing team. After college he taught math and science to high school students in North Carolina.</p>
  </div>
  <div class="col-md-2">
  </div>
</div>

