<div class="row">
  <div class="col-md-6 nopadding">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag("students1.jpg", class: "img-responsive center-block") %>
        </div>
        <div class="item">
          <%= image_tag("students2.jpg", class: "img-responsive center-block") %>
        </div>
        <div class="item">
          <%= image_tag("students3.jpg", class: "img-responsive center-block") %>
        </div>        
        
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
    <h1 class="logo text-left">Welcome to Sourcery</h1>
      <h3 class="text-left">Collect. Communicate. Collaborate.</h3>
      <p>Share research in real time to enrich your next group project. Sourcery's platform combines powerful web technologies to simplify the research project workflow. </p>
  </div>
  <div class="col-md-1">
  </div>
  </div>
</div>

<div class="row salmon">
  <div class="col-md-3">
  </div>
  <div class="col-md-9">
    <h2>About Sourcery</h2>
    <p>Sourcery lets you collaborate in real time with your classmates on a research project.</p>
    <p>Get started today!</p>
  </div>
</div>

<div class="row salmon">
  <h2>More text</h2>
  <p>Sourcery lets you collaborate in real time with your classmates on a research project.</p>
  <p>Get started today!</p>
</div>

<div class="row">
  <h3>About the Team</h3>
  <div class="col-md-3">
    <%= image_tag("meredithedwards.jpg", size: "140", class: "img-circle") %>
    <h4>Meredith Edwards</h4>
    <p>BIO</p>
  </div>
  <div class="col-md-3">
    <%= image_tag("madelineford.jpg", size: "140", class: "img-circle") %>
    <h4>Madeline Ford</h4>
    <p>BIO</p>
  </div>
  <div class="col-md-3">
    <%= image_tag("tracylum.jpg", size: "140", class: "img-circle") %>
    <h4>Tracy Lum</h4>
    <p>Bio</p>
  </div>
  <div class="col-md-3" id="jim-bio-js">
    <%= image_tag("jimrectenwald.jpg", size: "140", class: "img-circle", id: "jim-pic-js") %>
    <h4>Jim Rectenwald</h4>
    <p>Bio</p>
  </div>
</div>

