<%= form_for @resource do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@resource.errors.count, "error") %> prohibited this post from being saved:</h4>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :link %>
  <%= f.text_field :link %>
  <%= f.hidden_field :group_id, value: group_id %>
  <%= f.submit %>
<% end %>