<%= form_for @resource, html: {class: "form-inline"} do |f| %>
  <% if flash[:error] %>
    <div class="notice">
      <% flash[:error].each do |error| %>
        <p> <%= error %> </p>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :link %>
    <%= f.text_field :link, class: "form-control" %>
  </div>
  <%= f.hidden_field :group_id, value: group_id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>