<div class="row">
  <h3>Title: <%=@resource.title%></h3>
  <div class="resources-container">
  <%= render partial: FavoriteToggle.new(@resource, current_user).already_favorited?, locals: {resource: @resource} %>
  </div><br>
  <%= link_to "Click to Edit", edit_resource_path(@resource), class: "btn btn-info" %>
  <p>Link: <a href="<%= @resource.link %>" target="_blank"><%= @resource.link %> </a></p>
  <p>Group: <%= link_to @resource.group.topic, @resource.group %></p>
  <br>

</div>

<div class="row">
  <div class="col-md-8">
    <% if @resource.link[0..4] == "https" %>
    <button href="#" id="show_hide">Show/Hide Resource Pane </button>
    <div id="externalSiteContent" width="600">
      <iframe src="<%= @resource.link %>" width="600" height="400" style="border:medium double rgb(0, 0, 0)">
      </iframe>
    </div>
    <% else %>
      <p>Due to legal restrictions, we cannot display this resource here. Please use the link above to open it in a new tab.</p>
  </div>
<% end %>

  <div class="col-md-4">

    <h3>Comments</h3>
    <ul class="comment-container">
      <% @resource.comments.each do |comment| %>
          <%= render 'comments/comment', {comment: comment} %>
      <% end %>
    </ul>
   
   <% if current_user.groups.include?(@resource.group) %>
      <%= form_for @comment, remote: true, html: {id: "new-comment-js"} do |f| %>
      <div class="form-group">
        <%= f.text_area :content, class: "form-control" %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :resource_id, value: @resource.id %>
      </div>
        <%= f.submit "Add Comment", class: "btn btn-default"%>
      <% end %>
      <br>
      <%= link_to "Send Comments to PDF", resource_path(@resource, format: :pdf), class: "btn btn-info" %>
      <br>
    </div>
  <% end %>

    
</div>

