<!DOCTYPE html>
<html>
<head>
  <title>Sourcery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div>
    <nav>
      <% if current_user %>
        Signed in as <strong><%= link_to current_user.gmail_name, user_path(current_user) %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <%= link_to "Home", root_url%>
        <%= link_to "Groups", groups_path%>
        <%= link_to "My Resources", resources_path%>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>

    </nav>
  </div>
  <div>
  <%= yield %>
  </div>
</body>

</html>
